# توكن البوت الخاص بك من BotFather
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# معرف تليجرام الخاص بك (يمكنك الحصول عليه من @userinfobot)
ADMIN_USER_ID=7524378240

# معرف القناة (اختياري، اتركه فارغاً إذا لم ترغب في إجبار المستخدمين على الانضمام)
GROUP_ID=
# رابط الانضمام للقناة (اختياري)
GROUP_JOIN_LINK=
